body{
font-family: Arial;
margin:0;
background:#f5f5f5;
text-align:center;
}

nav{
background:#002855;
color:white;
display:flex;
justify-content:space-between;
padding:15px 40px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#e6f0ff;
padding:80px 20px;
}

.hero h1{
font-size:40px;
color:#002855;
}

button{
padding:12px 25px;
background:#007bff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.features{
padding:40px;
}

.card{
background:white;
margin:20px auto;
padding:20px;
width:300px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
