body{
margin:0;
font-family:Arial, sans-serif;
background:#f5f5f5;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#0f172a;
padding:15px 30px;
}

.logo{
color:white;
font-size:24px;
font-weight:bold;
}

.nav-links a{
color:white;
text-decoration:none;
margin:0 12px;
font-weight:bold;
}

.nav-links a:hover{
color:#60a5fa;
}

.auth-buttons button{
margin-left:10px;
padding:10px 18px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.auth-buttons button:hover{
background:#1d4ed8;
}



.hero{
background-image:url("hero.jpg.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

height:90vh;

display:flex;
justify-content:center;
align-items:center;
}

.hero-overlay{
background:rgba(0,0,0,0.35);
padding:40px;
border-radius:15px;
text-align:center;
color:white;
}

.hero-overlay h1{
font-size:55px;
margin-bottom:20px;
}

.hero-overlay p{
font-size:22px;
max-width:700px;
margin:auto;
margin-bottom:25px;
}

.hero-overlay button{
padding:12px 24px;
margin:10px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

.hero-overlay button:hover{
background:#1d4ed8;
}


footer{
background:#0f172a;
color:white;
text-align:center;
padding:20px;
}
